
* {
    margin: 0;
    padding: 0;
}
body,
html {
    width: 100%;
    height: 100%;
    background-color: #000;
}
.header {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    background-color: #121212;
    height: 150px;
    z-index: 1000;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.logo {
    margin-left: 100px;
    margin-right: 50px;
}
.tela-menu{
    display: none;
    position: fixed;
    left: 10px;
    top: 140px;
    width: 13%;
    height: 500px;
    background-color: #121212;
    z-index: 10001;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex; 
    flex-direction: column; 
}
.tela-menu-3{
    font-size:25px;
    flex-direction: column;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    height: 500px;
    padding: 25px;
}
.mostrar-menu {
    opacity: 1;
    visibility: visible;
}
.tela-menu-3 a{
    text-decoration: none;
    margin-bottom: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#barra-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.barra-text {
    margin-left: 20px;
    font-size: 65px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
        radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
#barra-menu:hover {
    cursor: pointer;
    color: #daa520a8;
}
#pesquisa {
    padding: 30px;
    font-size: 18px;
    margin-left: 50px;
    width: 800px;
    height: 50px;
    border-radius: 7px;
}
.nav {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 70px;
    gap: 20px;
}
a {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: #ffffff;
}
.main {
    position: relative;
    top: 150px;
    width: 100%;
    min-height: 86vh;
}
.main-div-texto {
    display: flex;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    position: relative;
    width: 800px;
    left: 970px;
    top: 100px;
}
.section-filmes {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    top: 50px;
    left: 4%;
    width: 90%;
    border-radius: 30px;
    padding: 40px;
    
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: 0px;
}
.lista-div {
    list-style: none;
    width: 18%;
    margin: 10px 0;
    margin-right: 40px;
}
.filmes-div {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: transform 0.3s ease;
    animation: slide-in-bottom 1s ease-out forwards
}
.filmes-div:hover {
    transform: scale(1.1);
    z-index: 10;
}
.filmes-div img {
    width: 100px;
    height: 150px;
    border-radius: 15px;
}
.play-filme {
    position: absolute;
    top: 10px;
    right: 45px;
    width: 30px;
    height: 30px;
    color: #fff;
}
.tempo {
    position: absolute;
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
    color: #fff;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}
.Texto-Breve {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.Texto-Breve p {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    color: #fff;
    margin-left: 20px;
    width:164px;
    text-align: center;
    text-align: left;
    word-break: break-word;
    white-space: normal;
}
.likes {
    position: absolute;
    top: 150px;
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    margin-left: 30px;
    margin-top: 30px;
}
.link-filme{
    min-height: 200px;
}
@keyframes slide-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}